.header__page {
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 18px 70px 18px 70px;
}

.header__main {
    background-color: #073042;
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 18px 70px 18px 70px;
}

.header__logo {
    width: 38px;
    height: 38px;    
}

@media screen and (max-width: 768px) {
    .header__page {
        padding: 18px 30px 18px 30px;
    }

    .header__main {
        padding: 18px 30px 18px 30px;
    }
}

@media screen and (max-width: 460px) {
    .header__logo_sign {
        display: flex;
        margin: auto;
    }
}

@media screen and (max-width: 390px) {
    .header__page {
        padding: 18px 14px 18px 14px;
    }

    .header__main {
        padding: 18px 14px 18px 14px;
    }
}