.short__films {
    display: flex;
    margin: auto 0 auto 41px;
    width: 208px;
}

.short__films-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.short__films-text::after {
    content: "";
    width: 34px;
    height: 14px;
    background-color: #EBEBEB;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    right: -48px;
    transition-duration: 350ms;
    
}

.short__films-text::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 50%;
    position: absolute;
    right: -26px;
    top: 5px;
    z-index: 1;
    transition-duration: 350ms;
}

.switch {
    display: none;
}

.switch:checked + .short__films-text::after {
    background-color: #2BE080;
}

.switch:checked + .short__films-text::before {
    right: -46px;
    background-color: #FFFFFF;
}

.short__films-text:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .short__films {
        justify-content: center;
        margin: 38px auto 0 auto;
        
    }

    .short__films-text {
        margin: 0;
    }

    .short__films_switch {
        margin-top: 0;
        margin-left: 12px;
    }
}

@media screen and (max-width: 390px) {
    .short__films-text {
        font-size: 11px;
    }
}