.short__films {
    display: flex;
    margin-left: 41px;
}

.short__films-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.short__films_switch {
    width: 36px;
    height: 20px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #202020;
    margin-top: 12px;
    margin-left: 14px;
    cursor: pointer;
}

.short__films_switch:hover {
    opacity: 0.7;
}

.short__films_switch-on {
    background-image: url('../../images/smalltumbon.png');    
}

.short__films_switch-off {
    background-image: url('../../images/smalltumboff.png');    
}

@media screen and (max-width: 768px) {
    .short__films {
        justify-content: center;
        margin-top: 38px;
        margin-left: 0;
    }

    .short__films-text {
        margin: 0;
    }

    .short__films_switch {
        margin-top: 0;
        margin-left: 12px;
    }
}

@media screen and (max-width: 390px) {
    .short__films-text {
        font-size: 11px;
    }
}